.dashboard_container{
    width: 90%;
    margin: 55px auto;
}
.dashboard_container ul{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;
    /* text-decoration: none; */
}
.dashboard_container ul a{
    background: blue;
    color: white;
    padding: 2px 10px;
    text-decoration: none;
}