.myorder-container{
    margin:70px auto;
    width: 80%;
}
.myorder-payment-btn{
    display: flex;
    gap: 10px;
}
.online-myorder-table{
    margin-top: 20px;
}
@media (max-width:1024px) {
    /* .myorder-container{
        width: 100%;
    } */
     .online-myorder-table{
        width: 50%;
     }
    .myorder-details-values{
        display: none;
        /* border-bottom: 2px solid red; */
    }
    .myorder-products-id{
        display: flex;
        flex-direction: column;
    }
}